node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env*
!.env.example

# Keys and Secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
GoogleService-Info.plist
google-services.json

# Documentation
docs/

# Native folders (usually ignored in managed Expo unless ejected)
/ios
/android

# macOS
.DS_Store

# IDE and temporary files
.vscode/
.idea/
*.log
npm-debug.*
.metro-health-check*
*.orig.*